@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WhnGFucE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(https://fonts.gstatic.com/s/righteous/v6/1cXxaUPXBpj2rGoU7C9WiHGF.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
 background-color:#fff;
}
 .required:after { content:" *";
                   color:red; }

.highlight{
  background-color:#424242;
}
.sidebar-btn {
  height :100px;
  width  :100px;
  margin-left:10px;
  margin-bottom:10px;
}

.width200px {
   width:300px;
}


.footer {
 text-align:center;
 background-color:#d0ccf3;
 position:fixed;
 width:100%;
 bottom:0px;
}

.left {
  font-family: 'Righteous'; float:left; color:white; font-size:18px; padding-left:10px; padding-top:10px;
}
.righteous {
  font-family: 'Righteous';
}
.left_div {
  width: 20%; float:left; height:92vh;
      background: linear-gradient(to bottom, #333333 0%, #595959 100%);
}
.right_div {
width: 80%; float:right;  height:92vh;
}
.font18px {
  font-size: 18px;
}

.navbar {
  margin-bottom: 1px;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

